<!DOCTYPE html>
<html lang="en">
<body>
<h2>Welcome {{current_customer.first_name}}</h2>
{% if messages %}
<div class='messages'>

    <ul class='messages'>
        {% for message in messages %}
            <li>
                {{message}}
            </li>
        {% endfor %}
    </ul>

</div>
{% endif %}
<h4>{% if current_customer.company %}
        {{current_customer.company}}
    {% else %} Please enter company number </h4>
<form method="get" action=''>
    <div>
        <input type="search" id="q" placeholder="Enter company number" name="q" value="">
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
    {% endif %}
    {% if company_number %}
        {{company_number}}<br>
        {{title}}<br>
            {{company_address}}
        <div>
        <form method="post" action=""> {% csrf_token %}
            <select name="business_sector">
                <option value="RETAIL">Retail</option>
                <option value="PROFESSIONAL_SERVICES">Professional Services</option>
                <option value="FOOD_AND_DRINK">Food & Drink</option>
                <option value="ENTERTAINMENT">Entertainment</option>
            </select>
            <input type="hidden" name="company_number" value='{{ company_number }}'>
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
        {% endif %}
</body>
</html>
