<!DOCTYPE html>
<html lang="en">
<body>
<h2>Welcome {{current_customer.first_name}}</h2>

<h4>{% if current_customer.company %}
        {{current_customer.company}}
    {% else %} Please enter company number </h4>
<form method="get" action=''>
    <div>
        <input type="search" id="q" placeholder="Enter company number" name="q" value="">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
    {% endif %}
    {% if company_number %}
        {{company_number}}<br>
        {{title}}<br>
            {% for key, value in company_address.items %}
                {{key}}: {{value}}<br>
            {% endfor %}
        <div>
        <form method="post" action=""> {% csrf_token %}
            <input type="hidden" name="company_number" value='{{ company_number }}'>
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
        {% endif %}
</body>
</html>
