<!DOCTYPE html>
<html lang="en">
<body>
<h2>Welcome {{current_customer.username}}</h2>
<h3>{% if current_customer.company %} {{current_customer.company}} {% else %} Please enter company details {% endif %}</h3>
<form method="get" action=''>
    <div>
        <input type="search" id="q" placeholder="Enter company number" name="q" value="">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
        <div>{% if message %} {{message}} </div>
        <div> {% else %}
            {{company_number}}<br>
            {{title}}<br>
                    {% for key, value in company_address.items %}
                        {{key}}: {{value}}<br>
                    {% endfor %}
        <div>{% endif %}
        <form method="post" action=""> {% csrf_token %}
            <input type="hidden" name="company_number" value='{{ company_number }}'>
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
</body>
</html>
